APP_NAME=CLASHOFCLANBEBANKLAN
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://clashofclanbebanklan-bio.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

SESSION_DRIVER=array
CACHE_STORE=array
